@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

/* Hide a increase / decrease button */
input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  /*  Firefox */
  /* -moz-appearance: textfield; */
  /*  Rest of Browsers */
  appearance: textfield;
}

/* Shopping Bag */
.book-image-cart {
  width: 7.5rem;
}

/* Backgounrd Color Custom */
.background-color-FEF6EE {
  background-color: #FEF6EE;
}

/* Border Top Custom */
.border-top-black {
  border-top: 1px solid black !important;
}

/* Font Weight Custom */
.font-weight-500 {
  font-weight: 500;
}

/* Margin Top Custom */
.mt-7-rem {
  margin-top: 7rem !important;
}